@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --black--: #000000;
  --white--: rgba(255, 255, 255, 1);
  --yellow--: rgba(248, 167, 32, 1);
  --yellow-2--: #ffdd00;
  --grey--: rgba(52, 52, 52, 1);
  --red--: rgba(228, 50, 50, 1);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: 400;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  position: relative;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

main {
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  max-width: 1920px;
}

h1 {
  font-family: Roboto;
  font-size: 128px;
  font-weight: bold;
}

h2 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
}

.body_1 {
  font-family: Roboto;
  font-size: 24px;
  line-height: normal;
  font-weight: 400;
}

.body_2 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 175%;
  font-weight: 400;
}

.body_3 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 125%;
  font-weight: bold;
}

.title {
  color: var(--grey--);
  text-transform: uppercase;
  padding-top: 120px;
  margin-bottom: 44px;
}

.numbers {
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: var(--white--);
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 24px 0;
  background: none;
  z-index: 99;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-active {
  max-height: 500px;
  overflow: auto;
  background-color: var(--grey--);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.logo__title {
  color: var(--white--);
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}

.logo__arrow {
  width: 20px;
  height: 20px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 84px;
}

.menu__li {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--white--);
}

.burger {
  display: none;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
}

.burger__item {
  width: 18px;
  height: 2px;
  background: var(--white--);
}

.burger__item::before,
.burger__item::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 2px;
  background: var(--white--);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.burger__item::before {
  top: 0;
  margin-top: 4px;
}

.burger__item::after {
  bottom: 0;
  margin-bottom: 4px;
}

.burger-active .burger__item {
  background: none;
}

.burger-active .burger__item::before {
  top: auto;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: 0;
}

.burger-active .burger__item::after {
  bottom: auto;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 0;
}

.swiper {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
  height: auto;
}

.swiper .swiper-wrapper {
  max-height: 800px;
  min-height: 800px;
}

.swiper .swiper-slide {
  width: 100%;
  overflow: hidden;
  max-height: 800px;
  min-height: 800px;
}

.swiper .swiper-slide img {
  width: 100%;
  height: auto;
  min-height: 300px;
}

.home {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--white--);
}

.home__text {
  position: absolute;
  top: 117px;
  width: 100%;
  z-index: 2;
}

.home__subtitle {
  position: relative;
  text-transform: uppercase;
  color: var(--white--);
}

.home__title {
  position: relative;
  color: var(--white--);
  text-transform: uppercase;
}

.home__subheader {
  color: var(--yellow--);
  margin-top: 24px;
  text-transform: uppercase;
  float: right;
}

.home__descr {
  color: var(--black--);
  width: 425px;
  margin-right: 44px;
}

.image-block {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 2;
  margin-top: -300px;
  right: 0;
}

.image-block__image {
  width: 115%;
  right: 0;
  height: auto;
  position: absolute;
  z-index: -1;
}

.images-list {
  position: relative;
  width: 100%;
  right: -65px;
}

.images-list picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.images-list__item {
  width: 90%;
  margin-top: -60px;
}

.possibilities {
  position: relative;
  width: 100%;
  height: auto;
}

.possibilities__title {
  color: var(--grey--);
}

.possibilities__header {
  text-align: center;
  color: var(--white--);
}

.swiper-possibilities {
  max-width: 100%;
  height: 234px;
  margin-top: 44px;
  overflow: hidden;
}

.swiper-possibilities .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 270px;
  width: 270px;
  height: auto;
}

.swiper-possibilities .swiper-slide picture {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -1;
}

.swiper-possibilities .swiper-slide img {
  width: 100%;
}

.swiper-possibilities .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  border: 1px solid var(--yellow--);
  margin: 12px 5px 0px 5px;
}

.swiper-possibilities .swiper-pagination-bullet-active {
  background: var(--yellow--);
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -32px;
}

.why {
  position: relative;
  width: 100%;
  height: auto;
}

.why__block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 44px;
  gap: 90px;
}

.why__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.why__card img {
  width: auto;
  height: auto;
}

.why__header {
  color: var(--grey--);
  text-align: center;
}

.service {
  position: relative;
  width: 100%;
  height: auto;
}

.service__block {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 44px;
  background: var(--yellow-2--);
  padding: 44px 50px 31px 70px;
}

.service__header {
  color: var(--grey--);
}

.service__image {
  width: 100%;
  margin: 44px 0;
}

.service a {
  color: var(--grey--);
}

.service__text {
  color: var(--grey--);
  margin-bottom: 20px;
}

.service__img {
  position: absolute;
  bottom: -115px;
  right: -167px;
}

.service button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
  background: var(--red--);
  padding: 10px 100px;
  margin-top: 44px;
  color: var(--white--);
}

.about {
  position: relative;
  width: 100%;
  min-height: 564px;
  margin-top: 120px;
}

.about__bg {
  position: absolute;
  width: 100%;
  top: 0;
  min-height: 368px;
  max-height: auto;
}

.about__block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 140px;
  margin-bottom: 19px;
}

.about__title {
  color: var(--white--);
  padding-top: 44px;
  margin-bottom: 44px;
}

.about__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.about__card p {
  text-align: center;
  color: var(--white--);
}

.image-block--about {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.contact {
  position: relative;
  width: 100%;
  height: auto;
  padding-bottom: 120px;
}

.contact__text {
  color: var(--grey--);
  margin-top: 16px;
}

.footer {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--grey--);
  padding: 44px 0 69px 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 16px;
}

.footer__icon {
  width: auto;
  height: auto;
}

.footer__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.footer__text {
  color: var(--white--);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}

@media (max-width: 1333px) {
  .about__bg {
    width: auto;
    min-height: 500px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .service__block {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}

@media (max-width: 1182px) {
  .why__block {
    gap: 40px;
  }
}

@media (max-width: 1160px) {
  .service button {
    padding: 10px 50px;
  }
}

@media (max-width: 1150px) {
  .image-block {
    margin-top: -350px;
  }

  .swiper-possibilities .swiper-slide {
    max-width: 500px;
  }

  .about .image-block {
    margin-top: -300px;
  }

  .image-block--about {
    margin-top: -300px;
  }
}

@media (max-width: 1100px) {
  h1 {
    font-size: 100px;
  }
}

@media (max-width: 1093px) {
  .about__block {
    gap: 60px;
  }
}

@media (max-width: 1060px) {
  .service button {
    gap: 16px;
    padding: 10px 25px;
  }

  .service button h3 {
    font-size: 16px;
  }

  .service button img {
    width: 25px;
  }
}

@media (max-width: 1033px) {
  .why__card {
    max-width: 200px;
  }
}

@media (max-width: 1010px) {
  .image-block {
    margin-top: -400px;
  }

  .about {
    min-height: 650px;
  }
}

@media (max-width: 925px) {
  .image-block {
    margin-top: -450px;
  }

  .about {
    min-height: 400px;
  }
}

@media (max-width: 895px) {
  .images-list__item {
    margin-top: -30px;
  }
}

@media (max-width: 853px) {
  .numbers {
    font-size: 32px;
  }

  .about__bg {
    min-height: 400px;
    max-height: 450px;
  }

  .about__card p {
    font-size: 14px;
    line-height: 142.857%;
  }

  .about__card {
    gap: 4px;
    max-width: 128px;
  }

  .image-block--about {
    margin-top: -150px;
  }
}

@media (max-width: 852px) {
  .about__block {
    gap: 40px;
    padding: 0 40px;
  }
}

@media (max-width: 850px) {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 25px;
  }

  .home__subheader {
    font-size: 20px;
  }
}

@media (max-width: 810px) {
  .swiper .swiper-slide img {
    width: auto;
    max-height: 600px;
  }

  .image-block {
    margin-top: -310px;
  }

  .image-block--about {
    margin-top: -150px;
  }
}

@media (max-width: 755px) {
  .menu {
    gap: 45px;
  }
}

@media (max-width: 730px) {
  .service__block {
    padding: 34px 15px 31px 15px;
  }
}

@media (max-width: 720px) {
  .about__bg {
    min-height: 400px;
    max-height: 415px;
  }
}

@media (max-width: 695px) {
  .service__block {
    padding: 34px 15px 0px 15px;
  }

  .service__text {
    margin-left: 21px;
  }

  .service__img {
    position: relative;
    right: auto;
    bottom: auto;
    display: block;
    margin: 0 auto;
    bottom: -66px;
    margin-top: -66px;
    width: 100%;
  }

  .service button {
    margin-top: 82px;
  }

  .service-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .about__block {
    gap: 16px;
  }
}

@media (max-width: 690px) {
  h1 {
    font-size: 60px;
  }

  .home__subheader {
    margin-left: 152px;
  }
}

@media (max-width: 665px) {
  .header {
    max-height: 81px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__block {
    width: 100%;
  }

  .header-active {
    max-height: 500px;
    overflow: auto;
    background: var(--grey--);
  }

  .logo__title {
    width: 100%;
  }

  .menu {
    margin-top: 60px;
    margin-bottom: 60px;
    gap: 60px;
  }

  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 660px) {
  .body_1 {
    font-size: 14px;
  }

  .home__descr {
    font-size: 16px;
  }

  .images-list__item {
    margin-top: -10px;
  }

  .why__block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .why__card img {
    width: 64px;
    height: 64px;
  }

  .why__card:nth-child(1) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .why__card:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .why__card:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .why__card:nth-child(4) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .service__text {
    font-size: 16px;
  }
}

@media (max-width: 635px) {
  .about__bg {
    max-height: 420px;
    min-height: 300px;
  }

  .about__block {
    gap: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .image-block--about {
    margin-top: -140px;
  }
}

@media (max-width: 601px) {
  h4 {
    font-size: 16px;
    line-height: 156.25%;
  }
}

@media (max-width: 600px) {
  .swiper-possibilities {
    padding: 0 52px;
  }
}

@media (max-width: 573px) {
  .about__bg {
    max-height: 700px;
    min-height: 500px;
  }

  .image-block--about {
    margin-top: -32px;
  }
}

@media (max-width: 520px) {
  h1 {
    font-size: 40px;
  }

  .home__subtitle {
    font-size: 16px;
  }

  .home__subheader {
    font-size: 16px;
    margin-top: 12px;
  }
}

@media (max-width: 510px) {
  .footer {
    padding: 24px 0;
  }

  .footer__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    margin-top: 24px;
  }
}

@media (max-width: 491px) {
  .about {
    min-height: 800px;
  }

  .about__bg {
    background-color: var(--grey--);
    max-height: 420px;
    min-height: 400px;
  }
}

@media (max-width: 485px) {
  .swiper .swiper-slide {
    max-height: 400px;
  }

  .swiper .swiper-slide img {
    width: auto;
    max-height: 400px;
  }

  .image-block {
    margin-top: -475px;
  }

  .image-block--about {
    margin-top: -430px;
  }
}

@media (max-width: 470px) {
  .about__card:nth-child(1) {
    margin-left: 25px;
  }

  .about__card:nth-child(3),
  .about__card:nth-child(4) {
    margin-top: 30px;
  }
}

@media (max-width: 455px) {
  .home__descr {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .service__block {
    padding-top: 16px;
  }

  .service__header {
    text-align: center;
  }

  .service__image {
    margin: 16px 0px 24px 0px;
  }

  .service__text {
    margin-bottom: 15px;
  }
}

@media (max-width: 425px) {
  h3 {
    font-size: 20px;
  }

  .title {
    padding-top: 50px;
    margin-bottom: 24px;
  }

  .swiper-possibilities {
    margin-top: 24px;
    padding: 0px;
  }

  .why__block {
    margin-top: 24px;
  }

  .why__card {
    max-width: 120px;
    gap: 4px;
  }

  .why__card:nth-child(3) {
    max-width: 119px;
  }
}

@media (max-width: 376px) {
  .logo__title {
    font-size: 16px;
  }
}

@media (max-width: 366px) {
  .about {
    min-height: 640px;
  }

  .about__bg {
    max-height: 700px;
    min-height: 650px;
  }

  .about__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about__card:nth-child(1) {
    margin-left: 0px;
  }

  .about__card:nth-child(3),
  .about__card:nth-child(4) {
    margin-top: 0px;
  }

  .image-block--about {
    margin-top: -60px;
  }
}